.portfolioImage{
	float: left;
	margin: 4% 4% 0% 4%;

}


.imageText{
	background-color: #4aaaa5;
	color: #ffffff;
	text-align: center;
	padding-top: 5%;
	padding-bottom: 5%;
	margin: 0px;
	position: relative;
	bottom: 100px;

}

.zeroPaddingRight{
	padding-right: 0;
}

.zeroPaddingLeft{
	padding-left: 0;
}



