.portfolioImage{
	float: left;
	margin: 4%;
	height: 30%;
}

.portfolioBox{
	margin-left: 3%;
}

.imageText{
	background-color: #4aaaa5;
	color: #ffffff;
	text-align: center;
	padding-top: 5%;
	padding-bottom: 5%;
	position: relative;
	bottom: 100px;
	margin: 0px;
}



